body{
    background-color: #4F517D;
    color: #DCCFEC;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-shadow:2px 0 #1A3A3A;
}

.lr-padding{
    margin: 7% 15%;
}

.drum{
    width: 150px;
    height: 150px;
    color: #DCCFEC;
    text-shadow:2px 0 #1A3A3A;
    background-color: white ;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    margin: 1%;
    border: solid 5px #1A3A3A;
    border-radius: 10%;
}

.w{
    background-image: url("images/tom1.png") ;
}

.a{
     background-image: url("images/tom2.png") ;
}

.s{
    background-image: url("images/tom3.png") ;
}

.d{
    background-image: url("images/tom4.png") ;
}

.j{
    background-image: url("images/kick.png") ;    
}

.k{
    background-image: url("images/snare.png") ;
}

.l{
    background-image: url("images/crash.png") ;
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}


#titleText{
    font-weight: bold;
    font-size: 6rem;
    text-shadow:5px 0 #1A3A3A;
}

